@import '../../styles/variables';

.custom-input {
	padding: 1rem;
	margin-bottom: .5rem;

	&__label {
		display: block;
		opacity: 0.83;
		margin-bottom: .5rem;
	}
	&__input {
		color: $primary;
		padding: .8rem 1rem;
		width: 100%;
		display: block;
		background-color: $background;
		border: none;
		font-family: inherit;
		font-size: 1.6rem;
		border-bottom: 1px solid rgba($font-white, .83);
		border-radius: 3px;
		transition: border 0.4s ease-in-out;

		&::placeholder {
			color: rgba($font-white, .6);
		}

		&:focus {
			outline: none;
			border-bottom: 1px solid $primary;
		}
	}
}

@media only screen and (min-width: 40em) {
	.custom-input {
		margin-bottom: 1rem;

		&__label {
			margin-bottom: 1rem;
		}
		&__input {
			padding: 1rem 2rem 1rem 1rem;
		}
	}
}
