@import '../../styles/variables';

#sign-in {
	display: grid;
	grid-template-rows: 50px 1fr;
	min-height: 100vh;
	align-items: center;
	padding: 0 1rem;
}

.form {
	width: 100%;
	max-width: 30rem;
	// margin: 0 auto;
	padding: 2rem 1rem;
	background-color: $component-background;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 1);
	justify-self: center;

	h3 {
		font-weight: normal;
		text-align: center;
		margin-bottom: .5rem;
		opacity: .83;
	}

	p {
		text-align: end;
		margin: 1rem;
	}
}

.success-sign-up {
	margin: 0 1rem;
	// max-width: 40rem;
	// margin: 0 auto;
	padding: 2rem 1rem;
	background-color: $component-background;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 1);
	text-align: center;

	h2 {
		font-weight: lighter;
		margin-bottom: .5rem;
	}

	p {
		opacity: .83;
	}
}

@media only screen and (min-width: 46.875em) {
	#sign-in {
		font-size: 1.6rem;
		padding: 0 3rem;
	}
}
