@import '../../styles/variables';

.custom-textarea {
	&__label {
		font-weight: lighter;
		opacity: .83;
		display: block;
		margin-bottom: .5rem;
	}

	&__textarea {
		display: block;
		color: $font-white;
		resize: none;
		width: 100%;
		background-color: $background;
		border: none;
		padding: 1rem;
		padding-left: .5rem;
		font-size: 1.6rem;
		border-radius: 10px;
		box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, .15);
		margin-bottom: 1rem;
	}
}

@media only screen and (min-width: 40em) {
	.custom-textarea {
		margin-bottom: 1rem;

		&__label {
			font-size: 1.6rem;
			margin-bottom: 1rem;
		}
		&__textarea {
			padding: 1rem;
		}
	}
}
