@import '../../styles/variables';

#dashboard {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 50px 1fr 50px;
	min-height: 100vh;
	grid-template-areas: "header" "main" "footer";

	&__header {
		grid-area: header;
	}

	&__main {
		grid-area: main;
		padding: 1rem;

		#projects {
			h1 {
				font-weight: lighter;
				text-transform: uppercase;
				opacity: .6;
				margin-bottom: 1rem;
			}

			.projects-container {
				display: flex;
				flex-wrap: wrap;
			}
		}

		#create-project {
			background-color: $component-background;
			padding: 2rem 3rem;
			max-width: 60rem;
			margin: 0 auto;

			h1 {
				font-weight: lighter;
				text-transform: uppercase;
				opacity: .6;
				margin-bottom: .5rem;
			}
		}
	}

	&__aside {
		grid-area: aside;
		position: fixed;
		background-color: $component-background;
		transform: translateX(-245px);
		width: 245px;
		height: 100%;
		z-index: 10;
		transition: all .8s ease-out;
		padding: 1.5rem 2rem;

		&.active {
			transform: translateX(0);
			box-shadow: 10px 0 10px rgba(0, 0, 0, .35);
		}
	}

	&__footer {
		grid-area: footer;

		background-color: $component-background;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
}

@media only screen and (min-width: 46.875em) {
	#dashboard {
		grid-template-columns: 245px 1fr;
		grid-template-areas: "header header" "aside main" "aside footer";

		&__header {
			z-index: 11;
			.menu-items {
				.menu-icon {
					display: none;
				}
			}
		}

		&__aside {
			position: relative;
			transform: translateX(0);
			box-shadow: 10px 0 10px rgba(0, 0, 0, .35);

			.close-icon {
				display: none;
			}
		}
	}
}
