@import '../../styles/variables';

#dashboard {
	display: grid;

	max-width: 150rem;
	margin: 0 auto;

	grid-template-columns: 1fr;
	grid-template-rows: auto 1fr auto;
	min-height: 100vh;
	grid-template-areas: "header" "main" "footer";

	&__header {
		grid-area: header;
	}

	&__main {
		grid-area: main;
		padding: 1rem;

		#projects {
			.projects-container {
				display: flex;
				flex-wrap: wrap;
			}
		}

		#create-project {
			max-width: 60rem;
		}
	}

	&__footer {
		grid-area: footer;

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
		font-size: 1.6rem;
	}
}
