#user-profile {
	h2 {
		font-size: 2rem;
		margin-bottom: 1rem;
	}

	.card {
		margin: 5rem 0;

		div {
			&:not(:last-child) {
				margin: 5rem 0;
			}

			.title {
				opacity: .6;
			}
		}

		.production {
			position: relative;
			margin: 5rem 0;

			.edit-icon {
				position: absolute;
				right: 2rem;
				top: 2rem;
			}
		}
	}
}
