@import '../../../../styles/variables';

.overviewcard {
	position: relative;
	width: 100%;
	max-width: 37rem;
	margin: 2rem;
	margin-bottom: 4rem;

	&__body {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 1rem 0 0;

		h2 {
			font-weight: lighter;
			opacity: .83;
			text-transform: capitalize;

			a {
				color: $primary;

				&:hover {
					color: lighten($primary, 15);
				}
			}
		}

		.overviewcard-icons {
			display: flex;

			.delete {
				border-radius: 50%;
				padding: .5rem;
				font-size: 2rem;
				transition: all 0.2s ease-in;

				&:hover {
					color: $red;
				}
			}

			.settings {
				border-radius: 50%;
				padding: .5rem;
				font-size: 2rem;
				transition: all 0.2s ease-in;
				a {
					display: flex;
					justify-content: center;
					align-items: center;

					&:hover {
						color: $primary;
					}
				}
			}
		}
	}
}
