#sign-up {
	display: grid;
	grid-template-rows: 50px 1fr;
	min-height: 100vh;
	align-items: center;
	padding: 0 1rem;
}

@media only screen and (min-width: 46.875em) {
	#sign-up {
		font-size: 1.6rem;
		padding: 0 3rem;
	}
}
