@import '../../styles/variables';

.form {
	width: 100%;
	max-width: 30rem;
	// margin: 0 auto;
	padding: 2rem 1rem;
	background-color: $component-background;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 1);

	h3 {
		font-weight: normal;
		text-align: center;
		margin-bottom: .5rem;
		opacity: .83;
	}

	.custom-btn {
		cursor: pointer;
		display: block;
		border: 1px solid $primary;
		padding: .8rem 1.2rem;
		font-family: inherit;
		font-size: inherit;
		margin: 0 1rem 0 auto;
		color: $primary;
		background-color: $component-background;
		border-radius: 15px 0 15px 0;
		transition: all 0.2s ease-out;

		&:hover {
			border: 1px solid lighten($primary, 25);
			color: lighten($primary, 25);
		}
	}
}

.success-sign-up {
	margin: 0 1rem;
	max-width: 45rem;
	// margin: 0 auto;
	padding: 3rem 2rem;
	background-color: $component-background;
	box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 1);
	text-align: center;
	justify-self: center;

	h2 {
		font-weight: lighter;
		margin-bottom: .5rem;
	}

	p {
		opacity: .83;
	}
}
