@import '../../../../styles/variables';

#dashboard__header {
	position: relative;
	// background-color: $component-background;

	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 1rem;

	position: relative;

	.menu-icons {
		display: flex;

		.plus-icon {
			a {
				display: flex;
				justify-content: center;
				align-items: center;
				color: black;
				padding: .5rem 1rem;
				background-color: $green;
				font-size: 1.6rem;
				border-radius: 10px;

				span {
					display: block;
					margin-right: .5rem;
				}
				@media only screen and (min-width: 46.875em) {
					margin-right: 1rem;
					padding: .7rem 2.2rem;

					span {
						margin-right: 1rem;
					}
				}
			}

			&:hover {
				a {
					background-color: lighten($green, 15);
				}
			}
		}

		.menu-icon,
		.user-menu-icon,
		.plus-icon {
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 2rem;
			margin: .5rem .5rem;
		}

		@media only screen and (min-width: 46.875em) {
			.menu-icon {
				display: none;
			}
		}
	}

	.user-dropdown {
		position: absolute;
		background-color: $component-background;
		padding: 2rem;
		right: 1rem;
		top: 5rem;
		display: none;

		ul {
			list-style: none;
			li {
				cursor: pointer;
				margin-bottom: .5rem;
			}
		}
	}

	.active {
		display: block;
	}
}
@media only screen and (min-width: 46.875em) {
	#dashboard__header {
		font-size: 1.6rem;
	}
}
