@import '../../../../styles/variables';

#dashboard__aside {
	font-size: 1.4rem;

	h2 {
		font-weight: lighter;
		margin-bottom: 2rem;
		opacity: .6;
	}

	.aside-nav {
		&__item {
			margin-left: 4rem;
			margin-bottom: 1rem;
		}
	}

	.add-btn {
		display: flex;
		justify-content: center;
		align-items: center;
		color: black;
		padding: .5rem 1rem;
		background-color: $green;
		font-size: 1.6rem;
		border-radius: 10px;

		span {
			display: block;
			margin-right: .5rem;
		}
	}

	.close-icon {
		cursor: pointer;
		position: absolute;
		right: 1rem;
		top: 1.5rem;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		background-color: $background;
		font-size: 2rem;
		padding: .5rem;
		transition: all 0.2s ease-in;

		&:hover {
			color: $primary;
		}
	}
}
