@import '../../styles/variables';

.email-container {
	padding: 1rem;
	max-width: 60rem;
}

.email-template {
	padding: 2rem;
	font-size: 1.6rem;
	opacity: 0.6;

	p {
		line-height: 1.7;
		margin-bottom: 2rem;
	}
}

.email-form {
	// width: 100%;
	// max-width: 60rem;
	position: relative;
	// padding: 2rem;
	// background-color: $component-background;
	// top: 50%;
	// left: 50%;
	// transform: translate(-50%, -50%);
	// box-shadow: 0 0 15px 5px rgba(0, 0, 0, .35);
	// z-index: 15;
	p {
		font-size: 1.6rem;
		margin-bottom: 1rem;
	}

	.close-icon {
		cursor: pointer;
		position: absolute;
		right: 2rem;
		top: 2rem;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: .5rem;
		background-color: $background;
		border-radius: 50%;
	}
}
