@import '../../styles/variables';

#video-page {
	display: grid;
	max-width: 144rem;
	margin: 0 auto;
	grid-template-columns: 1fr;
	grid-template-rows: 50px auto 1fr auto;
	grid-template-areas: "header" "main" "aside" "footer";
	min-height: 100vh;

	&__header {
		grid-area: header;
		padding: 1rem;
		// background-color: $component-background;

		display: flex;
		align-items: center;
		justify-content: space-between;

		.logo-container {
			padding: 0;
		}

		.menu-items {
			display: flex;
			align-items: center;
			a {
				margin-right: 2rem;
			}

			.help_icon {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 3rem;
				transition: all 0.2s ease-in;
				color: $primary;

				&:hover {
					color: lighten($primary, 15);
				}
			}
		}
	}

	&__main {
		grid-area: main;
		padding: 1rem;

		// padding: 1rem;

		.video-container {
			h2 {
				margin: 5rem 0;
				font-weight: normal;
				opacity: .83;
			}

			.video-description {
				details {
					summary {
						outline: none;
						cursor: pointer;
						opacity: .6;
						transition: all 0.2s ease-in;

						&:hover {
							opacity: 1;
						}
					}
					.desc {
						margin: 2rem 2rem 4rem;
						white-space: pre-line;
						line-height: 1.6;
					}
				}
			}

			@media screen and (max-width: 550px) {
				.component {
					padding: 1rem;
				}
			}
		}
	}

	&__aside {
		grid-area: aside;
		padding: 1rem;
	}
}

@media only screen and (min-width: 40em) {
	#video-page {
		font-size: 1.6rem;
		grid-template-rows: 60px auto 1fr auto;
		&__header {
			padding: 1rem 2rem;
		}

		&__aside {
			padding: 1rem 2rem;
		}

		&__main {
			padding: 1rem 2rem;
		}
	}
}

@media only screen and (min-width: 64.063em) {
	#video-page {
		font-size: 1.6rem;

		grid-template-columns: 1fr 450px;
		grid-template-rows: 70px 1fr auto;
		grid-template-areas: "header header" "main aside" "footer footer";

		// &__footer {
		// 	padding: 1rem 3rem;
		// }
	}
}
