@import '../../styles/variables';

#video-page {
	display: grid;

	grid-template-columns: 1fr;
	grid-template-rows: 50px auto 1fr 50px;
	grid-template-areas: "header" "main" "aside" "footer";

	height: 100vh;

	&__header {
		grid-area: header;
		background-color: $component-background;

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;

		.menu-items {
			.help_icon {
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 2rem;
				transition: all 0.2s ease-in;

				&:hover {
					color: $primary;
				}
			}
		}
	}

	&__main {
		grid-area: main;

		padding: 1rem;

		.video-container {
			h2 {
				margin: 1rem 0;
				font-weight: lighter;
				opacity: .6;
			}

			.video-description {
				background-color: $component-background;
				padding: 1rem;

				details {
					summary {
						cursor: pointer;
						opacity: .6;
						transition: all 0.2s ease-in;

						&:hover {
							opacity: 1;
						}
					}
					p {
						opacity: .83;
						line-height: 1.6;

						&:not(:last-child) {
							margin: 1rem 0;
						}
					}
				}
			}
		}
	}

	&__aside {
		grid-area: aside;
		padding: 1rem;
	}

	&__footer {
		grid-area: footer;
		background-color: $component-background;

		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem;
	}
}
